body {
    margin: auto;
    font-family: "Montserrat", system-ui;
}



.fundo-branco {
    background-color: #fff;
    max-width: 800px;
    margin: 100px auto;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
}

.texto-criar {
    text-align: center;
    color: #559346;
    font-size: 2em;
}

.fundoverde-relatorios {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.relatorio-item {
    display: flex;
    align-items: center;
}

.relatorio-mensal, .relatorio-agenda, .relatorio-satisfacao {
    background-color: #559346;
    width: 60%;
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
}

.mensal-texto, .agenda-texto, .satisfacao-texto{
    margin-left: 20px;
}

.gerar {
    background-color: #6c757d;
    color: #fff;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: 5px 5px 10px rgb(212, 211, 211);
}

.relatorio1 {
    text-decoration: none;
    color: white;
}

.botao-voltar {
    margin-top: 30px;
    text-align: center;
}

.botao-voltar a {
    display: inline-block;
    background-color: #559346;
    color: #fff;
    text-decoration: none;
    padding: 2px 30px;
    border-radius: 20px;
}


@media (max-width: 768px) {
    .relatorios {
        flex-direction: column;
    }

    .relatorio-item {
        flex-direction: column;
        gap: 10px;
    }

    .relatorio-mensal, .relatorio-agenda, .relatorio-satisfacao, .gerar {
        width: 100%;
        text-align: center;
    }

    .fundo-branco {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .texto-criar {
        font-size: 1.5em;
    }
}