body{
    margin:auto;
}


.criar-fundo{
    background: linear-gradient(to bottom, #559346,#86cf73, #559346);
    width: 100%;
    height: 650px;
    margin-top: -6px;


}


.fundo-branco{
    background-color:  rgb(255, 255, 255);
    width: 800px;
    height: 450px;
    position: relative;
    top: 100px;
    margin-left: 550px;
    border-radius: 30px;
}


.texto-criar{
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: rgb(94, 155, 94);
    text-align: center;
    top: 25px;
}


.relatorio-mensal{
    background-color:rgb(94, 155, 94);
    width: 450px;
    height: 50px;
    position: relative;
    margin-left: 30px;
    top: 60px;
    border-radius: 10px;
}


.mensal-texto{
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 25px;
    color:  rgb(255, 255, 255);
    margin-left: 20px;
    padding: 10px;
}


.gerar1{
    background-color:#6c757d;
    width: 200px;
    height: 40px;
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgb(212, 211, 211);
    margin-left: 500px;
    margin-top: -145px;
}


.relatorio-agenda{
    background-color:rgb(94, 155, 94);
    width: 450px;
    height: 50px;
    position: relative;
    margin-left: 30px;
    top: 70px;
    border-radius: 10px;
}


.agenda-texto{
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 25px;
    color:  rgb(255, 255, 255);
    margin-left: 20px;
    padding: 10px;
}


.relatorio-satisfaçao{
    background-color:rgb(94, 155, 94);
    width: 450px;
    height: 50px;
    position: relative;
    margin-left: 30px;
    top: 87px;
    border-radius: 10px;


}


.satisfaçao-texto{
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 25px;
    color:  rgb(255, 255, 255);
    margin-left: 20px;
    padding: 10px;
}


#gerar {
    margin-top: 190px;
}


h3{
color:  rgb(255, 255, 255);
font-family: Arial, sans-serif;
padding: 9px;
text-align: center;


}
.relatorio1{
    text-decoration: none;
}

.botao{
    text-align: center;
    background-color:  #559346;
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    position: relative;
    left: -148px;
    top: 200px;
}

.botao:hover{
    background-color: #0d7a0d;
}