html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", system-ui;
}

footer {
  background-color: #559346;
  color: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  width: 100%;
  /* position: fixed; */
  bottom: 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}
.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 8px;
}
.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-section ul li a:hover {
  color: #ddd;
}
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #444;
  font-size: 0.9em;
}


@media (max-width: 1200px) {
  iframe {
    width: 100%;
    overflow: hidden !important;
  }
}