body {
    margin: auto;
    font-family: "Montserrat", system-ui;
}


.titulo-relatorio {
    color: rgb(94, 155, 94);
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.fundo-branco {
    position: relative;
    background: rgb(255, 255, 255);
    max-width: 900px; 
    width: 100%; 
    height: auto; 
    text-align: center;
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 10px 10px 10px rgb(211, 210, 210);
    padding: 20px; 
}

.titulo-relatorio {
    color: #559346;
    font-family: Arial, sans-serif;
    text-align: center;
}

.subtitulo, .subtitulo2 {
    font-family: Arial, sans-serif;
    text-align: left;
}

.texto, .texto2, .texto3, .texto4 {
    text-align: justify;
    margin-right: 30px;
    font-family: Arial, sans-serif;
}

.excel, .pdf {
    position: relative;
    background-color: #559346;
    width: 200px;
    height: 32px;
    margin: auto; 
    border-radius: 20px;
}

.relatorio1 {
    text-decoration: none;
}

.exportar {
    color: rgb(255, 255, 255);   
}

li {
    text-align: justify;
    margin-right: 20px; 
    font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
    .fundo-branco {
        padding: 10px; 
    }


    .excel, .pdf {
        width: 200px; 
        margin: 10px auto; 
    }

    .titulo-relatorio, .subtitulo, .texto, .texto2, .texto3, .texto4, .subtitulo2 {
        padding-left: 15px;
        padding-right: 15px; 
    }

    .relatorio1 {
        display: block;
        width: 100%; 
    }

    li {
        margin-left: 10px; 
        margin-right: 10px; 
    }
}
