body {
  margin: auto;
  font-family: "Montserrat", system-ui;
}

.fundo-verde {
  position: relative;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  top: -25px;
  text-align: center;
}

.texto-relatorio {
  color:  #559346;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.fundo-branco {
  position: relative;
  background: rgb(255, 255, 255);
  width: 900px;
  height: 610px;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  left: 0;
  box-shadow: 10px 10px 10px 10px rgb(211, 210, 210);
}

.titulo-relatorio {
  color:  #559346;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.subtitulo {
  margin-left: -620px;
  font-family: Arial, sans-serif;
}

.texto1 {
  text-align: justify;
  margin-left: 30px;
  font-family: Arial, sans-serif;
}

.texto2 {
  text-align: justify;
  margin-left: 30px;
  font-family: Arial, sans-serif;
}

.texto3 {
  text-align: justify;
  margin-left: 30px;
  font-family: Arial, sans-serif;
}

.subtitulo2 {
  text-align: justify;
  margin-left: 22px;
  font-family: Arial, sans-serif;
}

.texto4 {
  text-align: justify;
  margin-left: 30px;
  font-family: Arial, sans-serif;
}
.texto5 {
  text-align: justify;
  margin-left: 22px;
  font-family: Arial, sans-serif;
}
li {
  text-align: justify;
  margin-left: 30px;
  font-family: Arial, sans-serif;
}

.excel{
  position: relative;
  background-color: #559346;
  width: 200px;
  height: 45px;
  top: 10px;
  margin-left: 220px;
  border-radius: 20px;
}

.pdf{
  position: relative;
  background-color:  #559346;
  width: 200px;
  height: 45px;
  top: -55px;
  margin-left: 430px;
  border-radius: 20px;
}

.relatorio1{
  text-decoration: none;
}

.exportar{
  color:  rgb(255, 255, 255);
  padding: 9px;
  text-align: center;
}