body {
  font-family: "Montserrat", system-ui;
  background-color: #f0f8f0;
  display: flex;
<<<<<<< Updated upstream
  flex-direction: column;
  align-items: center;
  margin: 0;
=======
  flex-direction: column; /* Altera para coluna para organizar iframe e conteúdo */
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
  width: 100%;
  height: 100px; /* Ajuste a altura conforme necessário */
>>>>>>> Stashed changes
}

iframe {
  border: none;
  width: 100%;
}

#header-frame {
  height: 70px !important;
  border: none;
}

#footer-frame {
  padding-top: 30px;
  border: none;
  height: 350px;
}
.container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 500px;
<<<<<<< Updated upstream
  margin-top: 70px;
  margin-bottom: 90px;
=======
  margin-top: 20px; /* Espaço entre o iframe e o container */
>>>>>>> Stashed changes
}

h1 {
  text-align: center;
  color: #2e7d32;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.agendamentos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.agendamento {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.438);
  transition: transform 0.2s, box-shadow 0.2s;
}

.agendamento:hover {
  transform: translateY(2px);
  box-shadow: 0 6px 15px rgb(77, 76, 76);
}

.nome {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  flex: 1;
  margin-right: 20px;
}

.horario {
  font-size: 14px;
  color: #777;
width: 50px;
}

.acoes {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}
.presente {
  background: linear-gradient(135deg, #4caf50, #66bb6a);
  color: white;
}
.ausente {
  background: linear-gradient(135deg, #ef5350, #e57373);
  color: white;
}

.remarcar {
  background: linear-gradient(135deg, #ffb300, #ffca28);
  color: white;
}